body {
  overflow-x: hidden;
}

#pic1 {
  background-image: url(assets/img/illustrations/hero-bg.png);
  background-position: right top;
  background-size: contain;
}
#pic2 {
  background-image: url(assets/img/illustrations/hero-bg.png);
  background-position: right top;
  background-size: contain;
}
#pic3 {
  background-image: url(assets/img/illustrations/bg.png);
  background-position: left top;
  background-size: initial;
  margin-top: -180px;
}
#pic4 {
  background-image: url(assets/img/illustrations/category-bg.png);
  background-position: right top;
  background-size: 200px 320px;
}
#pic5 {
  background-image: url(assets/img/illustrations/footer-bg.png);
  background-position: center;
  background-size: cover;
}
vless://28849598-9f90-48ad-a2db-fb19cb5044ff@ns1.mahangalaxyadd.online:2011?security=reality&encryption=none&pbk=C7Yz5zclRKx0qmZhgiadI2FW7nEeAa34ElJtquGpvx8&headerType=none&fp=chrome&type=tcp&flow=xtls-rprx-vision&sni=cloudupdateservice.com#%E2%9A%A1%EF%B8%8F%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%D8%B3%D9%84+%7E+%D9%88%D8%A7%DB%8C%E2%80%8C%D9%81%D8%A7%DB%8C+%F0%9F%87%AC%F0%9F%87%A7

